# Chapter 5: Intro to pandas Data Structures
## Series
Series are one dimensional array-like objects containing an array of data (any NumPy data type) and associated labes called and *index*. Let's import NumPy and Pandas and create some data objects.

In [21]:
# import pandas and NumPy
import pandas as pd
import numpy as np
import pprint as pp

In [23]:
# create list as input for series
lst = [num ** 2 for num in xrange(1, 64) if num % 2 == 0 and num % 3 == 0]

# print this list
pp.pprint(lst)

[36, 144, 324, 576, 900, 1296, 1764, 2304, 2916, 3600]

In [25]:
# define series
series_1 = pd.Series(lst)

# print out series
series_1

0      36
1     144
2     324
3     576
4     900
5    1296
6    1764
7    2304
8    2916
9    3600
dtype: int64

Now I'd like to get each component out of the `Series`, the `index` to the left and the `array` values on the right. I'll do this using the `index` and `values` attributes.

In [26]:
# get the index
series_1.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [27]:
# get the values
series_1.values

array([  36,  144,  324,  576,  900, 1296, 1764, 2304, 2916, 3600])

In [28]:
# create a series and specify the index
series_2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

# print
series_2

d    4
b    7
a   -5
c    3
dtype: int64

In [29]:
# Use the index to subset the series
series_2['a']

-5

In [30]:
# use the index to subset and reassign the value
series_2['d'] = 6

In [31]:
# one more subsetting example with a list of values
series_2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

### NumPy array operations on Series
Filtering with a boolean array, scalar multiplication, and applying a math function all preserve the `index`-`value` link.

In [32]:
# Boolean array
series_2[series_2 > 0]

d    6
b    7
c    3
dtype: int64

In [33]:
# scalar multiplication
series_2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [34]:
# math function
np.exp(series_2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

Another way to think about a `Series` is as a fixed-length, ordered dict. It is a mapping of index values to data values. It can be substituted into many functions that expect a dict.

In [35]:
# testing membership
'b' in series_2

True

In [36]:
# membership example 2
'e' in series_2

False

When you have a Python dict, you can create a Series from it by passing the dict.

In [37]:
# create the dictionary to be passed to Series
dict_data = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [38]:
# now pass the dictionary to Series
series_3 = pd.Series(dict_data)

# print it out
series_3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [41]:
# pass a new index to series_3
states = ['California', 'Ohio', 'Oregon', 'Utah', 'Texas']

# Series 4 using the dictionary and the new index (states)
series_4 = pd.Series(dict_data, index=states)

# print it out
series_4

California      NaN
Ohio          35000
Oregon        16000
Utah           5000
Texas         71000
dtype: float64

Notice that California is inserted into the Series but with no data. Now, let's look at few ways to detect missing values: `isnull` and `notnull`, both of the `pandas` library.

In [42]:
# is the value Null?
pd.isnull(series_4)

California     True
Ohio          False
Oregon        False
Utah          False
Texas         False
dtype: bool

In [43]:
# is the value valid?
pd.notnull(series_4)

California    False
Ohio           True
Oregon         True
Utah           True
Texas          True
dtype: bool

In [44]:
# the Series also has these two library functions as instance methods
series_4.isnull()

California     True
Ohio          False
Oregon        False
Utah          False
Texas         False
dtype: bool